In [1]:
import pandas as pd

df = pd.read_csv('ToyotaCorolla.csv')

max_km = df['KM'].max()
print(f"The maximum value in the KM column is: {max_km}")

min_weight = df['Weight'].min()
print(f"The minimum value in the Weight column is: {min_weight}")

The maximum value in the KM column is: 243000
The minimum value in the Weight column is: 1000

In [2]:
mean_cc = df['cc'].mean()
median_cc = df['cc'].median()
print(f"The mean of the CC column is: {mean_cc}")
print(f"The median of the CC column is: {median_cc}")

The mean of the CC column is: 1576.8558495821726
The median of the CC column is: 1600.0

In [3]:
df.loc[df['cc'] == 2000, 'Price'][:20] = 2000

print("Updated DataFrame:")
print(df[['cc', 'Price']])

Updated DataFrame:
        cc  Price
0     2000  13500
1     2000  13750
2     2000  13950
3     2000  14950
4     2000  13750
...    ...    ...
1431  1300   7500
1432  1300  10845
1433  1300   8500
1434  1300   7250
1435  1600   6950

[1436 rows x 2 columns]

In [5]:
df.loc[:19, 'Horse Power'] = df.loc[:19, 'HP'] * 2
print(df[['HP', 'Horse Power']])

       HP  Horse Power
0      90        180.0
1      90        180.0
2      90        180.0
3      90        180.0
4      90        180.0
...   ...          ...
1431   86          NaN
1432   86          NaN
1433   86          NaN
1434   86          NaN
1435  110          NaN

[1436 rows x 2 columns]

In [6]:
display_cols = ['Price', 'Age_08_04', 'cc']
sorted_df = df.loc[:49, display_cols].sort_values(by='Age_08_04')
print(sorted_df)

    Price  Age_08_04    cc
34  15500         22  1400
31  15750         22  1400
48  17950         22  2000
47  15800         22  1400
40  13950         22  1400
42  13950         22  1400
44  16950         22  2000
11  19950         22  1800
37  14950         23  1400
0   13500         23  2000
1   13750         23  2000
45  19000         23  2000
9   12950         23  1900
17  17950         24  1600
2   13950         24  2000
18  16750         24  1600
36  15950         25  1400
25  15950         25  1600
10  20950         25  1800
12  19600         25  1800
3   14950         26  2000
35  15750         26  1400
33  14950         26  1400
41  16750         27  1400
46  17950         27  2000
39  14750         27  1400
6   16900         27  2000
26  17495         27  1600
43  16950         27  2000
8   21500         27  1800
32  15950         27  1400
23  16950         28  1600
15  22000         28  1800
28  16950         28  1600
22  15950         28  1600
24  16250         29  1600
27  15750         29  1600
21  16950         29  1600
30  12950         29  1400
29  17950         30  1600
20  15950         30  1600
19  16950         30  1600
16  22750         30  1800
7   18600         30  2000
4   13750         30  2000
13  21500         31  1800
49  21950         31  1800
38  15750         32  1400
14  22500         32  1800
5   12950         32  2000

In [7]:
grouped_df = df.groupby(['Fuel_Type', 'Met_Color'])
print(grouped_df.groups)

{('CNG', 0): [189, 387, 652, 1122], ('CNG', 1): [199, 209, 223, 296, 383, 436, 618, 622, 624, 650, 991, 1047, 1072], ('Diesel', 0): [3, 4, 5, 9, 43, 44, 45, 109, 186, 187, 191, 216, 378, 379, 380, 386, 393, 406, 416, 418, 447, 487, 604, 609, 616, 621, 628, 632, 634, 636, 639, 647, 654, 660, 682, 696, 710, 819, 866, 1044, 1045, 1050, 1051, 1052, 1053, 1055, 1059, 1063, 1069, 1078, 1083, 1085, 1097], ('Diesel', 1): [0, 1, 2, 6, 7, 46, 48, 50, 68, 87, 89, 91, 92, 95, 110, 111, 112, 113, 114, 115, 116, 118, 119, 121, 138, 188, 190, 192, 193, 194, 196, 197, 203, 204, 210, 211, 214, 237, 243, 268, 270, 272, 381, 382, 384, 388, 389, 390, 391, 396, 397, 401, 402, 412, 422, 458, 463, 465, 480, 601, 603, 606, 607, 608, 612, 613, 615, 617, 619, 625, 626, 627, 630, 631, 635, 644, 679, 707, 768, 785, 1046, 1048, 1049, 1054, 1058, 1066, 1070, 1071, 1073, 1074, 1080, 1081, 1082, 1092, 1108, 1109, 1118, 1195, 1202, 1216, ...], ('Petrol', 0): [8, 10, 11, 12, 15, 18, 21, 28, 35, 36, 39, 40, 42, 54, 56, 57, 61, 74, 77, 94, 102, 120, 124, 134, 135, 136, 145, 146, 148, 151, 159, 161, 165, 176, 179, 180, 207, 208, 230, 234, 236, 238, 246, 249, 250, 251, 255, 258, 262, 269, 277, 278, 287, 292, 295, 302, 305, 308, 312, 314, 319, 320, 332, 335, 337, 342, 345, 361, 366, 367, 370, 372, 394, 403, 409, 413, 415, 421, 424, 426, 427, 428, 435, 438, 439, 448, 450, 453, 454, 457, 459, 461, 462, 466, 467, 481, 482, 483, 484, 486, ...], ('Petrol', 1): [13, 14, 16, 17, 19, 20, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 37, 38, 41, 47, 49, 51, 52, 53, 55, 58, 59, 60, 62, 63, 64, 65, 66, 67, 69, 70, 71, 72, 73, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 90, 93, 96, 97, 98, 99, 100, 101, 103, 104, 105, 106, 107, 108, 117, 122, 123, 125, 126, 127, 128, 129, 130, 131, 132, 133, 137, 139, 140, 141, 142, 143, 144, 147, 149, 150, 152, 153, 154, 155, 156, 157, 158, 160, 162, 163, 164, ...]}

In [4]:
null_counts = df.isnull().sum()
print("Null value counts:")
print(null_counts)

df['cc'] = df['cc'].fillna(0)

Null value counts:
Id                  0
Model               0
Price               0
Age_08_04           0
Mfg_Month           0
Mfg_Year            0
KM                  0
Fuel_Type           0
HP                  0
Met_Color           0
Automatic           0
cc                  0
Doors               0
Cylinders           0
Gears               0
Quarterly_Tax       0
Weight              0
Mfr_Guarantee       0
BOVAG_Guarantee     0
Guarantee_Period    0
ABS                 0
Airbag_1            0
Airbag_2            0
Airco               0
Automatic_airco     0
Boardcomputer       0
CD_Player           0
Central_Lock        0
Powered_Windows     0
Power_Steering      0
Radio               0
Mistlamps           0
Sport_Model         0
Backseat_Divider    0
Metallic_Rim        0
Radio_cassette      0
Tow_Bar             0
dtype: int64

In [8]:
new_data = {
    'Id': [1, 2, 3],
    'Model': ['Corolla', 'Camry', 'RAV4'],
    'Price': [25000, 30000, 35000],
    'KM': [50000, 75000, 40000],
}

df = pd.concat([df, pd.DataFrame(new_data)], ignore_index=True)
print(df[['Id', 'Model','Price','KM']])

        Id                                              Model  Price     KM
0        1      TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  13500  46986
1        2      TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  13750  72937
2        3     ?TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  13950  41711
3        4      TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  14950  48000
4        5        TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors  13750  38500
...    ...                                                ...    ...    ...
1434  1441  TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...   7250  16916
1435  1442        TOYOTA Corolla 1.6 LB LINEA TERRA 4/5-Doors   6950      1
1436     1                                            Corolla  25000  50000
1437     2                                              Camry  30000  75000
1438     3                                               RAV4  35000  40000

[1439 rows x 4 columns]

In [7]:
import pandas as pd

df = pd.read_csv('ToyotaCorolla.csv')
new_df = df.copy()
new_df = new_df.drop('HP', axis=1)
print(new_df)

        Id                                              Model  Price  \
0        1      TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  13500
1        2      TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  13750
2        3     ?TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  13950
3        4      TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  14950
4        5        TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors  13750
...    ...                                                ...    ...
1431  1438         TOYOTA Corolla 1.3 16V HATCHB G6 2/3-Doors   7500
1432  1439  TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...  10845
1433  1440  TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...   8500
1434  1441  TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...   7250
1435  1442        TOYOTA Corolla 1.6 LB LINEA TERRA 4/5-Doors   6950

      Age_08_04  Mfg_Month  Mfg_Year     KM Fuel_Type  Met_Color  Automatic  \
0            23         10      2002  46986    Diesel          1          0
1            23         10      2002  72937    Diesel          1          0
2            24          9      2002  41711    Diesel          1          0
3            26          7      2002  48000    Diesel          0          0
4            30          3      2002  38500    Diesel          0          0
...         ...        ...       ...    ...       ...        ...        ...
1431         69         12      1998  20544    Petrol          1          0
1432         72          9      1998  19000    Petrol          0          0
1433         71         10      1998  17016    Petrol          0          0
1434         70         11      1998  16916    Petrol          1          0
1435         76          5      1998      1    Petrol          0          0

      ...  Central_Lock  Powered_Windows  Power_Steering  Radio  Mistlamps  \
0     ...             1                1               1      0          0
1     ...             1                0               1      0          0
2     ...             0                0               1      0          0
3     ...             0                0               1      0          0
4     ...             1                1               1      0          1
...   ...           ...              ...             ...    ...        ...
1431  ...             1                1               1      0          1
1432  ...             0                0               1      0          0
1433  ...             0                0               1      0          0
1434  ...             0                0               0      0          0
1435  ...             0                0               1      0          0

      Sport_Model  Backseat_Divider  Metallic_Rim  Radio_cassette  Tow_Bar
0               0                 1             0               0        0
1               0                 1             0               0        0
2               0                 1             0               0        0
3               0                 1             0               0        0
4               0                 1             0               0        0
...           ...               ...           ...             ...      ...
1431            1                 1             0               0        0
1432            1                 1             0               0        0
1433            0                 1             0               0        0
1434            0                 1             0               0        0
1435            0                 0             0               0        0

[1436 rows x 36 columns]

In [5]:
import pandas as pd

df = pd.read_csv('ToyotaCorolla.csv')
new_df = df.copy()
new_df = new_df.drop([49, 99])
print(new_df)

        Id                                              Model  Price  \
0        1      TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  13500
1        2      TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  13750
2        3     ?TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  13950
3        4      TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  14950
4        5        TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors  13750
...    ...                                                ...    ...
1431  1438         TOYOTA Corolla 1.3 16V HATCHB G6 2/3-Doors   7500
1432  1439  TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...  10845
1433  1440  TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...   8500
1434  1441  TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...   7250
1435  1442        TOYOTA Corolla 1.6 LB LINEA TERRA 4/5-Doors   6950

      Age_08_04  Mfg_Month  Mfg_Year     KM Fuel_Type   HP  Met_Color  ...  \
0            23         10      2002  46986    Diesel   90          1  ...
1            23         10      2002  72937    Diesel   90          1  ...
2            24          9      2002  41711    Diesel   90          1  ...
3            26          7      2002  48000    Diesel   90          0  ...
4            30          3      2002  38500    Diesel   90          0  ...
...         ...        ...       ...    ...       ...  ...        ...  ...
1431         69         12      1998  20544    Petrol   86          1  ...
1432         72          9      1998  19000    Petrol   86          0  ...
1433         71         10      1998  17016    Petrol   86          0  ...
1434         70         11      1998  16916    Petrol   86          1  ...
1435         76          5      1998      1    Petrol  110          0  ...

      Central_Lock  Powered_Windows  Power_Steering  Radio  Mistlamps  \
0                1                1               1      0          0
1                1                0               1      0          0
2                0                0               1      0          0
3                0                0               1      0          0
4                1                1               1      0          1
...            ...              ...             ...    ...        ...
1431             1                1               1      0          1
1432             0                0               1      0          0
1433             0                0               1      0          0
1434             0                0               0      0          0
1435             0                0               1      0          0

      Sport_Model  Backseat_Divider  Metallic_Rim  Radio_cassette  Tow_Bar
0               0                 1             0               0        0
1               0                 1             0               0        0
2               0                 1             0               0        0
3               0                 1             0               0        0
4               0                 1             0               0        0
...           ...               ...           ...             ...      ...
1431            1                 1             0               0        0
1432            1                 1             0               0        0
1433            0                 1             0               0        0
1434            0                 1             0               0        0
1435            0                 0             0               0        0

[1434 rows x 37 columns]

In [6]:
new_df = df.copy()
display_cols = ['Price', 'KM', 'cc']
filtered_df = new_df.loc[new_df['cc'] > 1600, display_cols].head(100)
print(filtered_df)

     Price      KM    cc
0    13500   46986  2000
1    13750   72937  2000
2    13950   41711  2000
3    14950   48000  2000
4    13750   38500  2000
..     ...     ...   ...
604   7900  204250  2000
606   7500  190900  2000
607   7500  183500  2000
608   6900  176184  2000
609   5751  174833  2000

[100 rows x 3 columns]