<h4><center>diabetes.csv</center></h4>

In [3]:
import numpy as np
import matplotlib.pyplot as plt 
import pandas as pd

In [4]:
data = pd.read_csv('diabetes.csv')
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [5]:
 data.iloc[:,[4,5]]

     Insulin   BMI
0          0  33.6
1          0  26.6
2          0  23.3
3         94  28.1
4        168  43.1
..       ...   ...
763      180  32.9
764        0  36.8
765      112  26.2
766        0  30.1
767        0  30.4

[768 rows x 2 columns]

In [6]:
data.iloc[:,7]

0      50
1      31
2      32
3      21
4      33
       ..
763    63
764    27
765    30
766    47
767    23
Name: Age, Length: 768, dtype: int64

In [7]:
#Step2: Split Features and labels
x = data.iloc[:,[0,7]].values
y = data.iloc[:,8].values

In [8]:

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test =  train_test_split(x,y,test_size = 0.20)

In [10]:

from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier

Scores = []

for i in range (2,11):
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(x_train, y_train)
    y_pred = knn.predict(x_test)
    # print(x_train.shape, y_train.shape)
    # print(x_test.shape, y_test.shape)

    score = knn.score(x_test,y_test)
    Scores.append(score)

print(knn.score(x_train,y_train))
print(Scores)

0.7345276872964169
[0.5974025974025974, 0.6103896103896104, 0.6168831168831169, 0.5974025974025974, 0.6103896103896104, 0.6038961038961039, 0.6103896103896104, 0.5714285714285714, 0.6103896103896104]

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

In [ ]:
!pip install yellowbrick

In [ ]:

from yellowbrick.classifier import ClassificationReport
from yellowbrick.datasets import load_occupancy
classes = ["Outcome _0","Outcome _1"]

visualizer = ClassificationReport(knn, classes=classes, support=True)

visualizer.fit(X_train, y_train)        # Fit the visualizer and the model
visualizer.score(X_test, y_test)        # Evaluate the model on the test data
visualizer.show()  # Finalize and show the figure

<h4><center>Iris.csv</center></h4>

In [ ]:
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from matplotlib import pyplot as plt
from scipy.interpolate import make_interp_spline
from pylab import rcParams
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score as acc
from sklearn.metrics import confusion_matrix
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [ ]:
df=pd.read_csv("Iris.csv")

In [ ]:
df.head()

In [ ]:
xdata = df.iloc[:, 0:3]
ydata = df.iloc[:, 4]

In [ ]:
xdata

In [ ]:
from sklearn.preprocessing import LabelEncoder
Le = LabelEncoder()
Le.fit(ydata)
label = Le.transform(ydata)

In [ ]:
xtrain, xtest, ytrain, ytest = train_test_split(xdata, label, test_size=0.2, random_state=884)
x_st = StandardScaler()
xtrain = x_st.fit_transform(xtrain)
xtest = x_st.fit_transform(xtest)

In [ ]:
classifier = KNeighborsClassifier(n_neighbors=3)
classifier.fit(xtrain, ytrain)
y_pred = classifier.predict(xtest)

accuracy = acc(ytest, y_pred)*100
print('Accuracy of the training Model : ', round(accuracy, 3), '%')

#import classification_report
from sklearn.metrics import classification_report
print(classification_report(ytest,y_pred))

In [ ]:
from yellowbrick.classifier import ClassificationReport
from yellowbrick.datasets import load_occupancy
classes = ydata.unique()

visualizer = ClassificationReport(classifier, classes=classes, support=True)

visualizer.fit(xtrain, ytrain)        # Fit the visualizer and the model
visualizer.score(xtest, ytest)        # Evaluate the model on the test data
visualizer.show()                       # Finalize and show the figure